<div class="h-full w-full flex flex-row">
    <div class="basis-1/4"></div>
    <div class="basis-1/2 container bg-base-100 rounded-md p-12">

        <div class="flex flex-col justify-start gap-6">

            <!-- upload form -->
            <form class="flex flex-row gap-4 px-12">
                <div class="grow flex flex-row justify-between gap-2">
                    <input class="input input-bordered input-md w-3/4" type="text" id="folder_input" placeholder="input your folder path here"/>
                    <a id="folder_input_btn" class="btn btn-primary w-1/4" onclick="upload_local_folder()">
                        upload
                    </a>
                </div>
            </form>
        </div>
    </div>
    <div class="basis-1/4"></div>
</div>