<!DOCTYPE html>
<html lang="en" data-theme="dark" style="scroll-padding-top: 5rem; scroll-behavior: smooth;">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', path='css/output.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/utils.css') }}">
        <title>LMotor</title>

        <style>
            /* width */
            ::-webkit-scrollbar {
                width: 0px;
            }
            input{
                color: transparent;
                text-shadow: 0 0 0 #2196f3;
            }

        </style>
    </head>
    <body>
        <div>
            <div class="drawer overflow-hidden">
                <input id="my-drawer" type="checkbox" class="drawer-toggle" />

                <!-- content page -->
                <div class="drawer-content">

                    <!-- header -->
                    <div class="bg-base-100 text-base-content sticky top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-shadow duration-100 [transform:translate3d(0,0,0)] shadow-sm">
                        <div class="navbar bg-base-100 h-10 p-2 w-full">
                            
                            <div class="flex-1">
                                <label for="my-drawer" class="btn btn-ghost">
                                    <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                        <g id="SVGRepo_iconCarrier"> 
                                            <path d="M4 6H20M4 12H20M4 18H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> 
                                        </g>
                                    </svg>
                                </label>

                                <div class="tooltip text-base-content">
                                    Gallery
                                </div>
                            </div>
                            


                            <div class="flex-none hidden lg:block">
                                <ul class="menu menu-horizontal">
                                <!-- Navbar menu content here -->
                                
                                    <li>
                                        <label class="swap swap-rotate">
            
                                            <!-- this hidden checkbox controls the state -->
                                            <input id="themeCheckBox" type="checkbox" class="theme-controller" value="dark" />
                                            <svg class="swap-on fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/></svg>
                                            <svg class="swap-off fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/></svg>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- main content here -->
                    <div id="mainContent" class="p-8 bg-base-200" style="overflow: auto; height: calc(100vh - 4rem);">

                    </div>

                </div> 




                <div class="drawer-side z-40">
                    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
                    <div class="bg-base-200 h-full w-72 flex">

                        <div class="w-full p-4">
                            <ul class="menu p-4 self-center h-auto bg-base-300 text-base-content rounded-md">
                                <!-- Sidebar content here -->
                                <li>
                                    <a onclick="load_main_content('/ui/content/gallery')">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                                        </svg>
                                        <p>home</p>
                                    </a>
                                </li>
        
                                <li>
                                    <a>
                                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.954 2.21a9.99 9.99 0 0 1 4.091-.002A3.993 3.993 0 0 0 16 5.07a3.993 3.993 0 0 0 3.457.261A9.99 9.99 0 0 1 21.5 8.876 3.993 3.993 0 0 0 20 12c0 1.264.586 2.391 1.502 3.124a10.043 10.043 0 0 1-2.046 3.543 3.993 3.993 0 0 0-3.456.261 3.993 3.993 0 0 0-1.954 2.86 9.99 9.99 0 0 1-4.091.004A3.993 3.993 0 0 0 8 18.927a3.993 3.993 0 0 0-3.457-.26A9.99 9.99 0 0 1 2.5 15.121 3.993 3.993 0 0 0 4 11.999a3.993 3.993 0 0 0-1.502-3.124 10.043 10.043 0 0 1 2.046-3.543A3.993 3.993 0 0 0 8 5.071a3.993 3.993 0 0 0 1.954-2.86zM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        </svg>
                                        <p>settings</p>
                                    </a>
                                </li>

                                <li>
                                    <a onclick="load_main_content('/ui/function/upload')">
                                        <svg class="h-5 w-5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">
                                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                            <g id="SVGRepo_iconCarrier"> <title></title> 
                                                <g id="Complete"> 
                                                    <g id="upload"> <g> 
                                                        <path d="M3,12.3v7a2,2,0,0,0,2,2H19a2,2,0,0,0,2-2v-7" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                                        <g> 
                                                            <polyline data-name="Right" fill="none" id="Right-2" points="7.9 6.7 12 2.7 16.1 6.7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></polyline> 
                                                            <line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" x1="12" x2="12" y1="16.3" y2="4.8"></line> 
                                                        </g> 
                                                        </g> 
                                                    </g> 
                                                </g> 
                                            </g>
                                        </svg>
                                        <p>upload</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', path='js/jquery-3.7.1.min.js') }}"></script>
        <script>

            function load_main_content(url){
                /* load subpage into main content div */

                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.onreadystatechange = function(){
                    if(xhr.readyState == 4 && xhr.status == 200){

                        var mainContent = document.getElementById('mainContent');
                        mainContent.innerHTML = xhr.responseText;
                        handle_spec_url(url)
                    }
                };
                xhr.onerror = function(){
                    console.log('error');
                };
                xhr.send();

                /* close sidebar */
                var checkbox = document.getElementById('my-drawer');
                checkbox.checked = false;
            }

            function handle_spec_url(url){

            }

            function delete_atlas(id){
                /* delete given gallery */

                $.ajax({
                    url: "/api/atlas/delete",
                    type: "POST",
                    data: JSON.stringify({ uid: id }),
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    success: function(feedback){

                        if( feedback["ret"] ){
                            load_main_content("ui/content/gallery");
                        }else{
                            alert("delete failed: " + feedback["msg"]);
                        }
                    },
                    error: function(data){

                        console.log(data);
                        console.log("error");
                        alert("delete failed: " + data.statusText);
                    }
                })
            }

            function upload_local_folder(){

                folder_path = $("#folder_input").val()
                if( folder_path.length == 0 ){
                    alert("please input folder path")
                    return
                }

                var reset = _set_loading_content("#folder_input_btn")

                $.ajax({
                    url: "/api/upload/local_folder",
                    type: "POST",
                    data: JSON.stringify({folder_path: folder_path}),
                    contentType: 'application/json; charset=utf-8',
                    cache: false,
                    success: function(feedback){
                            
                        reset();
                        if( feedback["ret"] ){
                            alert("upload success");
                        }else{
                            alert("upload failed: " + feedback["msg"]);
                        }
                    },
                    error: function(data){

                        reset();
                        alert("upload failed: network error");
                    }
                })
            }


            function _set_loading_content(id){
                /* set content as loading animation and return a reset callback */

                var elem = $(id)
                var origin_content = elem.html()
                elem.html('<span class="loading loading-spinner"></span>')
                return () => {
                    elem.html(origin_content)
                }
            }

            var app = {
                "current_atlas":[]
            }
            function main(){

                // theme switcher
                var checkbox = document.getElementById('themeCheckBox');    
                checkbox.addEventListener('change', function() {
                    var currentTheme = document.documentElement.getAttribute("data-theme");
                    if( currentTheme == "dark" ){
                        document.documentElement.setAttribute('data-theme', 'bumblebee');
                    }else{
                        document.documentElement.setAttribute('data-theme', 'dark');
                    }
                });

                /* about main content */
                load_main_content('ui/content/gallery');
                // load_main_content('ui/content/gallery');
                // load_main_content("/ui/content/atlas/416d4345544f3285ae38cf206b4c42a77a1e31f377be2f1f0f34e968481d7f1d");
            }

            main();
        </script>
    </body>
</html>
