<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', path='css/output.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', path='css/utils.css') }}">
        <title>LMotor Atlas</title>

        <style>
            /* width */
            ::-webkit-scrollbar {
                width: 8px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                background: rgba(0, 0, 0, 0.1);
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 6px;
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #555;
            }
            input{
                color: transparent;
                text-shadow: 0 0 0 #2196f3;
            }
            &:input{
                outline: none;
            }

            .gallery_img{
                width: 100%;
                height: 100%;
            }
        </style>
    </head>

    <body>
        <div>
            <div class="drawer lg:drawer-open overflow-hidden">
                <input id="my-drawer" type="checkbox" class="drawer-toggle" />

                <div class="drawer-side">
                    <div class="w-16 h-full flex flex-col place-content-start py-4">
                        <div class="w-full h-1/2 flex flex-col place-content-start gap-4">

                            <div class="w-full flex flex-row justify-center">
        
                                <a href="/" class="btn btn-ghost btn-square rounded-md">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                                    </svg>
                                </a>
                            </div>

                            <div class="w-full flex flex-row justify-center">
                                <a href="javascript:void(0);" class="btn btn-ghost btn-square rounded-md" onclick="app.glass.switch()">
                                    <svg class="h-8 w-8 p-0.5" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                        <g id="SVGRepo_iconCarrier"> 
                                            <g fill="none" fill-rule="evenodd"> 
                                                <path d="m0 0h32v32h-32z"></path> 
                                                <path d="m15 0c8.2842712 0 15 6.71572875 15 15 0 3.7823596-1.3999424 7.2377452-3.7099407 9.8762702l5.3667949 5.3663705-1.4142135 1.4142135-5.3663705-5.3667949c-2.638525 2.3099983-6.0939106 3.7099407-9.8762702 3.7099407-8.28427125 0-15-6.7157288-15-15 0-8.28427125 6.71572875-15 15-15zm0 2c-7.17970175 0-13 5.82029825-13 13 0 7.1797017 5.82029825 13 13 13 7.1797017 0 13-5.8202983 13-13 0-7.17970175-5.8202983-13-13-13zm1 7v5h5v2h-5v5h-2v-5h-5v-2h5v-5z" fill="currentColor" fill-rule="nonzero"></path> 
                                            </g> 
                                        </g>
                                    </svg>
                                </a>
                            </div>

                            
                        </div>
                        <div class="w-full h-1/2 flex-col flex place-content-end">
                            <label class="swap swap-rotate btn btn-ghost rounded-md btn-square left-2">
            
                                <!-- this hidden checkbox controls the state -->
                                <input id="themeCheckBox" type="checkbox" class="theme-controller" value="dark" />
                                <svg class="swap-on fill-current w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/></svg>
                                <svg class="swap-off fill-current w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/></svg>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="drawer-content">
                    <div class="flex flex-row w-full h-full">

                        <div id="img_box" class="shadow-xl h-full flex" style="width: calc(100% - 28rem); outline: none; color: transparent; overflow-y: visible;">
                            <div class="w-full h-full relative overflow-hidden flex">
                                <img id="atlas-image-output" class="h-full w-full absolute object-contain" src=""/>
                            </div>
                        </div>

                        <div class="w-96 h-full p4 fixed right-0">
                            <div class="grid grid-cols-4 w-96 h-full p-4 gap-4" style="overflow-x: hidden; overflow-y:auto;">
                                {% for imgpath in atlas['images'] %}
                                    <div class="w-full aspect-auto">
                                        <img class="gallery_img rounded-md shadow-md" src="{{ url_for('static', path=imgpath ) }}" style="outline: none; color: transparent;"/>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>
    </body>

    <script src="{{ url_for('static', path='/js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/magnify.js') }}"></script>
    <script>

        // images = JSON.parse("{{ atlas['images'] }}");

        var app = {
            images:Array.from($(".gallery_img")).map((img) => img.src),
            img_panel:$("#atlas-image-output")[0],
            img_box:$("#img_box")[0],
            currentImageIdx:0,
            glass:Magnifier(),
            init:function(){
                this.glass.init("atlas-image-output", 1.5);
                this.glass.hide();
                console.log(this.glass);
                this.init_image_list();
            },
            init_image_list : function(){
                this.img_panel.src = this.images[0];
                this.img_box.onwheel = (event) => {
                    if( event.deltaY > 0){
                        if( this.currentImageIdx < this.images.length - 1){
                            this.currentImageIdx += 1
                            this.img_panel.src = this.images[this.currentImageIdx];
                            this.glass.resetImg();
                        }
                    }else{
                        if( this.currentImageIdx > 0 ){
                            this.currentImageIdx -= 1
                            this.img_panel.src = this.images[this.currentImageIdx];
                            this.glass.resetImg();
                        }
                    }
                    console.log(this.currentImageIdx);
                }
                var img_elements = $(".gallery_img");
                for( var i = 0; i < img_elements.length; i++ ){
                    img_elements[i].index = i;
                    img_elements[i].onclick = (event) => {
                        this.img_panel.src = event.target.src;
                        this.currentImageIdx = event.target.index;
                        this.glass.resetImg();
                    }
                }
            }
        }

        // theme switcher
        var checkbox = document.getElementById('themeCheckBox');    
        checkbox.addEventListener('change', function() {
            var currentTheme = document.documentElement.getAttribute("data-theme");
            if( currentTheme == "dark" ){
                document.documentElement.setAttribute('data-theme', 'bumblebee');
            }else{
                document.documentElement.setAttribute('data-theme', 'dark');
            }
        });


        app.init()
    </script>
</html>